h1{
    color: black;
    font-size: 4rem;
}
p{
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
}
#firstp{
    color: black;
    font-family: 'Qahiri', sans-serif;
    
}
#second{
    color: purple;
}
#Mambap{
    color: yellow;
}
#Green{
    color: orange;
}
#WR{
    color: orangered;
}